.app.dark {
  --bg-color: #232358;
  --inverted-bg-color: #dadada;

  --primary-color: #0bab3a;
  --secondary-color: #116c20;
  --inverted-primary-color: #040fa2;
  --inverted-secondary-color: #374f9f;
}
