.app_light_theme {
  --bg-color: #dadada;
  --inverted-bg-color: #232358;
  --primary-color: #5965ff;
  --secondary-color: #374f9f;
  --inverted-primary-color: #0bab3a;
  --inverted-secondary-color: #116c20;
}
