.app.light {
  --bg-color: #dadada;
  --inverted-bg-color: #232358;

  --primary-color: #040fa2;
  --secondary-color: #374f9f;
  --inverted-primary-color: #0bab3a;
  --inverted-secondary-color: #116c20;
}
